/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
  
  .modal-content {
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #fff;
    margin: auto;
    border: 1px solid #888;
    border-radius: 5px;
    width: 600px;
  
    @include media-query(1024px) {
      width: 530px;
    }
  
    @include media-query($on-palm) {
      width: 90%;
    }
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .contact-content {
    padding: 40px 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .form-group {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px 20px; /*row: 10px, col: 20px*/
    border: 0;
    align-content: center;
    justify-content: stretch;
  }
  
  .form-group label{
    display: inline-block;
    align-self: center;
    justify-self: stretch;
  }
  
  .form-content {
    border: 0;
  }
  
  #email, #name{
    padding: 0 10px;
    width: 70%;
    height: 30px;
    color: #454545;
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
    border-radius: 5px;
  }
  
  #contact-message {
    width: 90%;
    height: 250px;
    resize: none;
    margin: 10px 0;
    padding: 10px;
    font-family: $base-font-family;
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
    border-radius: 5px;
  }
  
  #email:focus, #name:focus, #contact-message:focus {
    outline: none;
    border: 1px solid $brand-color;
  }
  
  .honeypot-field {
    display: none;
  }
  
  .button-success {
    cursor: pointer;
    margin: 0 10px;
    padding: 8px 24px;
    color: white;
    border: 0;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: $brand-color;
  }
  
  .button-xlarge {
    font-size: 1.15em;
  }
  
  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #4a4a4a; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded borders */
    padding: 8px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  /**
 * Animation for transparent header
 */

.share-small-button {
    visibility: hidden;
    z-index: 1;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background-color: #fff; 
    width: 54px; 
    height: 54px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: #dcdcdc;
    border-radius: 32px;
    cursor: pointer;
    position: fixed;
    right: 60px;
    bottom: 48px;
    opacity: 0.5;
    transition: ease-in 200ms;
  
    @include media-query(1024px) {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      right: 35px;
      bottom: 60px;
      font-size: 20px;
    }
  
    @include media-query($on-palm) {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      right: 20px;
      font-size: 14px;
    }
  }
  
  .share-small-button:active {
    border-width: 2px;
    border-color: #c5c5c5;
    color: #383838;
    transform: translateY(2px) translateX(2px);
  }
  
  #kakao-share {
    bottom: 85px;
  
    @include media-query(1024px) {
      bottom: 90px;
    }
  
    @include media-query($on-palm) {
      bottom: 80px;
    }
  }
  
  .share-button {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 60px;
    bottom: 48px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 32px;
    border-color: #d4d4d4;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    color: #6d6d6d;
    user-select: none;
    font-size: 24px;
  
    @include media-query(1024px) {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      right: 35px;
      bottom: 60px;
      font-size: 20px;
    }
  
    @include media-query($on-palm) {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      right: 20px;
      font-size: 16px;
    }
  }
  
  .share-button:active {
    border-width: 2px;
    border-color: #c5c5c5;
    color: #383838;
    transform: translateY(4px) translateX(4px);
  }
  
  
  .show-share {
    right: 140px;
    bottom: 25px;
    visibility: visible;
    transition: ease-out 300ms;
    opacity: 1;
    
    @include media-query(1024px) {
      right: 95px;
      bottom: 35px;
    }
  
    @include media-query($on-palm) {
      right: 68px;
    }
  }