---
layout: framework
banner:
banner_html: post-header.html
hidden: []
sidebar:
  - article-menu
---
<script>
Kakao.init('4118d8ceffc2b008e31cba57f87d1cdc'); // 이거 안보이도록 해야됨
</script>
<div class="post">
  <section>

    

    {%- assign name = 'hidden' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign hidden = return -%}

    {%- assign result = hidden | where_exp: "item", "item == 'header'" -%}
    {%- if banner == nil and result.size == 0 -%}
    {%- include views/post-header.html -%}
    {%- endif -%}

    {%- include views/article.html -%}

    {%- assign result = hidden | where_exp: "item", "item == 'navigator'" -%}
    {%- if result.size == 0 -%}
    <div class="post-nav">
      {%- if page.previous -%}
        <a class="previous" href="{{ page.previous.url | relative_url }}" title="{{
          page.previous.title | escape }}">{{ page.previous.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}

      {%- if page.next -%}
        <a class="next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title | escape }}">{{ page.next.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}
    </div>
    {%- endif -%}

    {%- assign result = hidden | where_exp: "item", "item == 'related_posts'" -%}
    {%- if result.size == 0 -%}
    <div class="post-related">
      <div>Related Articles</div>
      <ul>
        {% assign posts = site[page.collection] | sample:4 %}
        {%- for post in posts -%}
        <li><a class="post-link" href="{{post.url | relative_url}}" title="{{ page.next.title | escape }}">{{ post.title | escape | truncatewords: 12 }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}

    <!-- share icons (공유) -->
    <div id="share-button" class="share-button">
      <i class="fa-regular fa-share-from-square"></i>
    </div>

    <a id="kakao-share" class="share-small-button kakao" href="javascript:scrapKakao()">
      <img src="https://github.com/lucyya99/lucyya99.github.io/assets/80736490/3fb6977b-9de0-47ed-9fac-df516599d1cb" width="24px">
    </a>
    <div id="link-share" class="share-small-button">
      <i class="fa-solid fa-clipboard" style="color: #b4b4b4; font-size: 24px;"></i>
    </div>

    <!-- email 작성 -->
    <div style="text-align: right; margin-top: 50px; margin-bottom: 20px;">
      <div><a href="#" style="font-size: 1.2em;"><i class="fa-regular fa-envelope"></i> Contact Me</a></div>
    </div>

    <!-- comment (댓글) -->    
    <div class="post-comments">
      <script src="https://utteranc.es/client.js"
        repo="lucyya99/blog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
    </div>
  </section>
</div>

<div id="snackbar">링크가 복사되었습니다 😉</div>

<script>
  var x = document.getElementById("snackbar");

  var share = document.getElementById("link-share");
  var k = document.getElementById("kakao-share");

  var y = document.getElementById("share-button");  
  y.addEventListener('click', ()=> {
    share.classList.toggle('show-share')
    k.classList.toggle('show-share')
  })

  share.addEventListener('click', ()=> {
    navigator.clipboard.writeText(window.location.href)
  })
  share.addEventListener('click', ()=> {
    share.classList.toggle('show-share')
    k.classList.toggle('show-share')
    
    x.className = "show"
    setTimeout(function(){ 
      x.className = x.className.replace("show", ""); 
    }, 2500)
  })

  k.addEventListener('click', () => {
    share.classList.toggle('show-share')
    k.classList.toggle('show-share')
  })

  var content30 = document.getElementsByClassName("post-content")[0].textContent.substr(0, 30);
  function scrapKakao () {
    Kakao.Share.sendCustom({
      templateId: 95724,
      templateArgs: {
        title: document.title,
        description: content30,
        pagePathname: location.pathname.substr(1)
      },
    });
  }
</script>