---
layout: framework
banner:
banner_html: post-header.html
hidden: []
sidebar:
- article-menu
---
<script>
  const kakaoKey = process.env.KAKAO_JAVASCRIPT_KEY
  Kakao.init(kakaoKey); // 이거 안보이도록 해야됨
</script>
<div class="post">
  <section>

    {%- assign name = 'hidden' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign hidden = return -%}

    {%- assign result = hidden | where_exp: "item", "item == 'header'" -%}
    {%- if banner == nil and result.size == 0 -%}
    {%- include views/post-header.html -%}
    {%- endif -%}

    {%- include views/article.html -%}

    {%- assign result = hidden | where_exp: "item", "item == 'navigator'" -%}
    {%- if result.size == 0 -%}
    <div class="post-nav">
      {%- if page.previous -%}
      <a class="previous" href="{{ page.previous.url | relative_url }}" title="{{
          page.previous.title | escape }}">{{ page.previous.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}

      {%- if page.next -%}
      <a class="next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title | escape }}">{{
        page.next.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}
    </div>
    {%- endif -%}

    {%- assign result = hidden | where_exp: "item", "item == 'related_posts'" -%}
    {%- if result.size == 0 -%}
    <div class="post-related">
      <div>Related Articles</div>
      <ul>
        {% assign posts = site[page.collection] | sample:4 %}
        {%- for post in posts -%}
        <li><a class="post-link" href="{{post.url | relative_url}}" title="{{ page.next.title | escape }}">{{ post.title
            | escape | truncatewords: 12 }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}

    <!-- share icons (공유) -->
    <div id="share-button" class="share-button">
      <i class="fa-regular fa-share-from-square"></i>
    </div>

    <a id="kakao-share" class="share-small-button kakao" href="javascript:scrapKakao()">
      <img src="https://github.com/lucyya99/lucyya99.github.io/assets/80736490/3fb6977b-9de0-47ed-9fac-df516599d1cb"
        width="24px">
    </a>
    <div id="link-share" class="share-small-button">
      <i class="fa-solid fa-clipboard" style="color: #b4b4b4; font-size: 24px;"></i>
    </div>

    <!-- email 작성 -->
    <div style="text-align: right; margin-top: 50px; margin-bottom: 20px;">
      <div style="font-size: 1.2em;" id="myBtn"><a><i class="fa-regular fa-envelope"></i> Contact Me</a></div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="contact-content">
          <h2>Contact Me (Email)</h2>
          <form class="gform" method="POST" data-email="example@email.net"
          action="https://script.google.com/macros/s/AKfycbwAqXSbKusGuQRVhIhIXh1hS76Ha3Vsb6pFsyw0U4MGPOHS5rn3MLXMQcVpSC_-GT2VBA/exec">
            <!-- change the form action to your script url -->

            <div class="form-elements">
              <fieldset class="form-group">
                <label for="email">Email 주소</label>
                <input id="email" name="email" type="email" value=""
                required placeholder="your.name@email.com"/>
              </fieldset>

              <fieldset class="form-group">
                <label for="name">제목</label>
                <input id="name" name="name" type="text" value=""/>
              </fieldset>

              <fieldset class="form-content">
                <textarea id="contact-message" name="message" rows="10"
                placeholder="이메일로 보낼 내용을 자유롭게 적어주세요"></textarea>
              </fieldset>

              <fieldset class="form-group honeypot-field">
                <label for="honeypot">To help avoid spam, utilize a Honeypot technique with a hidden text field; must be empty to submit the form! Otherwise, we assume the user is a spam bot.</label>
                <input id="honeypot" type="text" name="honeypot" value="" />
              </fieldset>

              <div style="text-align: right; padding: 0 30px">
                <button class="button-success button-xlarge" id="email-send">
                  <i class="fa fa-paper-plane"></i>&nbsp;Send</button>
              </div>
            </div>

              <!-- Submit the Form to Google Using "AJAX" -->
            <script data-cfasync="false" src="/form-submission-handler.js"></script>
          </form>
          
        <!-- END -->
        </div>
      </div>
    </div>

    <!-- comment (댓글) -->
    <div class="post-comments">
      <script src="https://utteranc.es/client.js" repo="lucyya99/blog-comments" issue-term="pathname"
        theme="github-light" crossorigin="anonymous" async>
        </script>
    </div>
  </section>
</div>

<div id="snackbar">링크가 복사되었습니다 😉</div>

<script>
  function showSnackbar(message) {
    var snackbar = document.getElementById("snackbar");
    snackbar.textContent = message;
    snackbar.classList.add("show");
    setTimeout(function() {
      snackbar.classList.remove("show");
    }, 2500); // 2.5초 후에 스낵바 숨김
  }

  // 메일 보내고 나서 스낵바
  var x = document.getElementById('email-send');
  x.addEventListener('click', function() {showSnackbar('메일을 보내주셔서 감사합니다! 🤗')});

  var share = document.getElementById("link-share");
  var k = document.getElementById("kakao-share");

  var y = document.getElementById("share-button");
  y.addEventListener('click', () => {
    share.classList.toggle('show-share')
    k.classList.toggle('show-share')
  })

//  const userAgent = window.navigator.userAgent.toLowerCase();
  share.addEventListener('click', () => {
    // click시 내 링크 클립보드로 복사하는 코드
    var text = window.location.href;
    var dummy = document.createElement('input')

    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    var success = document.execCommand('copy');
    var success_text = success ? "success" : "fail";
    document.body.removeChild(dummy);
//    alert(success_text + userAgent);
  });

  share.addEventListener('click', () => {
    share.classList.toggle('show-share')
    k.classList.toggle('show-share')

    showSnackbar('링크가 복사되었습니다 😉');
  });

  k.addEventListener('click', () => {
    share.classList.toggle('show-share')
    k.classList.toggle('show-share')
  });

  // 카카오톡 공유
  var content30 = document.getElementsByClassName("post-content")[0].textContent.substr(0, 30);
  const templateId = process.env.KAKAO_TEMPLATE_ID
  function scrapKakao() {
    Kakao.Share.sendCustom({
      templateId: tempId,
      templateArgs: {
        title: document.title,
        description: content30,
        pagePathname: location.pathname.substr(1)
      },
    });
  }
</script>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal 
  btn.addEventListener('click', () => {
    modal.style.display = "block";    
    document.body.classList.toggle('stop-scrolling')
  })

  // When the user clicks on <span> (x), close the modal
  span.addEventListener('click', () => {
    modal.style.display = "none";
    document.body.classList.toggle('stop-scrolling')
  })

  // When the user clicks anywhere outside of the modal, close it
  window.addEventListener('click', (event) => {
    if (event.target == modal) {
      modal.style.display = "none";
      document.body.classList.toggle('stop-scrolling')
    }
  }) 
  </script>